{% extends 'base.html.twig' %}

{% block title %}Symrecipie - Mes ingrédients{% endblock %}

{% block body %}
   <div class="container mt-4">

    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}    

    {% if not ingredients.items is same as [ ] %}
        
    
    <h1>Mes ingrédients </h1>

{# Nombre total d'items  #}
<div class="count">
  <h4> Il y'a 
    {{ ingredients.getTotalItemCount }}
    ingrédients au total</h4>
</div>

    <table class="table table-hover mt-4">
        <thead>
          <tr>
            <th scope="col">Numéro</th>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Date de création</th>
          </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
       
          <tr class="table-primary ">
            <th scope="row">{{ingredient.id}}</th>
            <td>{{ingredient.nom}}</td>
            <td>{{ingredient.price}}</td>
            <td>{{ingredient.createddate |date("d/m/y")}}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
        {# afficher la  navigation #}
        <div class="navigation d-flex justify-content-center mt-4">
            {{ knp_pagination_render(ingredients) }}
        </div>
    {% else %}

        <h4>IL n'ya pas d'ingrédients </h4>
            
    
    {% endif %}
    </div>
{% endblock %}
